*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
.hero{
	background: linear-gradient(45deg,#00217A,#78009C);
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}
.hero h1{
	font-weight: 600;
	font-size: 50px;
}
.hero h1 span{
	color: #ff2212;
	border-bottom: 3px solid #ff2212;
}
.hero textarea{
	border: none;
	outline: none;
	padding: 15px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);  
	margin: 40px 0;
	width: 600px;
	height: 200px;
	color: white;
	font-size: 16px;
	resize: none;
}
.hero textarea::placeholder{
	color: #9e9e9e;
}
.hero .row{
	width: 600px;
	display: flex;
	gap: 20px;
}
.hero .row select{
	flex: 1;
	outline: none;
	border: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	color: white;
	appearance: none;

}
option{
  color: #333;
}
.hero .row button{
	background: #ff2212;
	border-radius: 35px;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 16px;
	color: white;
}