*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1a1a1a;
	color: white;
}
.calculator{
	background: #333333;
	padding: 40px;
	border-radius: 10px;
	width: 400px;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.display{
	padding: 15px;
	text-align: right;
	font-size: 2em;
	margin-bottom: 20px;
	overflow-x: auto;
}
.buttons{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
}
.buttons button{
	border-radius: 10px;
	border: none;
	cursor: pointer;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
	background: transparent;
	color: white;
	padding: 10px;
	font-size: 25px;
	transition: box-shadow .5s;
}
.buttons button:hover{
	box-shadow: none;
}
.equals{
	grid-column: span 2;
}
#operator{
	color: #00ddff;
}